<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br />
  <br />
  <br />
  <div class="field" style="display:none">
    <label>Usuario</label>
    <input type="Text" name="reservation[user_id]" value="<%= current_user.id%>" />
  </div>

  <div class="field" style="display:none">
    <label>soccer_court_id</label>
    <input type="Text" name="reservation[soccer_court_id]" value="<%= @soccer_court_id %>" />
  </div>

  <div class="field">
    <%= form.label :dateOfReservation %>
    <%= form.date_select :dateOfReservation, id: :reservation_dateOfReservation, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :timeOfReservation %>
    <%= form.time_select :timeOfReservation, { :discard_minute => true, id: :reservation_timeOfReservation } %>
  </div>

  <div class="field">
    <%= form.label :isActive %>
    <%= form.check_box :isActive, id: :reservation_isActive %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :reservation_price, class: "form-control", style: "width:300px;" %>
  </div>

  <div class="actions" style="margin-top:2em;" >
    <%= form.submit 'Guardar', :class => 'btn btn-lg btn-success'  %>
  </div>
<% end %>
