<p id="notice"><%= notice %></p>

    <!--Full calendar-->
    <link rel='stylesheet' href='/fullcalendar/fullcalendar.css' />
    <script src='/fullcalendar/lib/jquery.min.js'></script>
    <script src='/fullcalendar/lib/moment.min.js'></script>
    <script src='/fullcalendar/fullcalendar.js'></script>
    <script src='/fullcalendar/lib/jquery-ui.min.js'></script>
    <script src='/fullcalendar/locale/es.js'></script>

    <script src="/JS/Reservations/index.js"></script>

<style>
body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 14px;
}
#calendar {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 10px;
}


</style>

<div style="display: <%= (user_signed_in? && current_user.is_admin?) ? 'none' : 'block' %> ">
<div class="container" >
  <h1 style="text-align:center">Reservas</h1>

  <div class="row" >
  <%= link_to "Mis Reservas", { controller: "reservations", action: "getMisReservas" }, class: "btn btn-lg btn-info", style: "margin-left:7em;" %>
  </div>
</div>
<div class="row">
<div id='calendar'></div>
</div>
</div>


<div style="display: <%= (user_signed_in? && !current_user.is_admin?) ? 'none' : 'block' %> ">
<h1>Reservations</h1>

<table class="table table-responsive table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Dateofreservation</th>
      <th>Timeofreservation</th>
      <th>Isactive</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.dateOfReservation %></td>
        <td><%= reservation.timeOfReservation %></td>
        <td><%= reservation.isActive %></td>
        <td><%= reservation.price %></td>
        <td><%= link_to 'Ver', reservation,class: "btn btn-default" %></td>
        <td><%= link_to 'Editar', edit_reservation_path(reservation),class: "btn btn-info" %></td>
        <!--<td><%= link_to 'Cancelar', reservation, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path, class: "btn btn-success" %>

</div>