<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table class="table table-responsive table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Dateofreservation</th>
      <th>Timeofreservation</th>
      <th>Isactive</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.dateOfReservation %></td>
        <td><%= reservation.timeOfReservation %></td>
        <td><%= reservation.isActive %></td>
        <td><%= reservation.price %></td>
        <td><%= link_to 'Show', reservation,class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation),class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
