<p id="notice"><%= notice %></p>

<h1>Soccer Courts</h1>


<br>
<div style="display: <%= (user_signed_in? && !current_user.is_admin?) ? 'none' : 'block' %> ">
<%= link_to 'New Soccer Court', new_soccer_court_path,class: "btn btn-success" %>
</div>
<div class="row">
<% @soccer_courts.each do |soccer_court| %>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/images/cancha2.png" alt="...">
      <div class="caption">
        <h3><%= soccer_court.name %></h3>
        <strong>Localizacion</strong>
        <p><%= soccer_court.location %></p>
        <strong style="display:inline">Precio </strong><p style="display:inline"><%= soccer_court.price %></p>
        <br/>
        <hr/>
        <p><a href="/reservations?soccer_court_id=<%= soccer_court.id%>" class="btn btn-primary" role="button">Reservar</a></p>
      </div>
    </div>
  </div>

<% end %>
</div>