<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @soccer_court.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @soccer_court.location %>
</p>

<p>
  <strong>Price:</strong>
  <%= @soccer_court.price %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @soccer_court.isActive %>
</p>

<%= link_to 'Edit', edit_soccer_court_path(@soccer_court) %> |
<%= link_to 'Back', soccer_courts_path %>
