<!-- main -->
	<div class="main">
		<h1>Innovative Login Form</h1> 
		<div class="main-info">
			<div class="sap_tabs">
				<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
					<ul class="resp-tabs-list">
						<li class="resp-tab-item" aria-controls="tab_item"><h2><span><%= link_to 'Login','sign_in'%></span></h2></li>
						<li class="resp-tab-item" aria-controls="tab_item-0"><span>Register</span></li> 
					</ul>	
					<div class="clear"> </div>	
					<div class="resp-tabs-container">
						<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
							<div class="agileits-login">
								<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= f.text_field :email, autofocus: true, autocomplete: "email",class: "email",placeholder: "Email" %>
                <%= f.password_field :password, autocomplete: "off",class: "password",placeholder: "Password" %>
			
									<div class="wthree-text"> 
										<ul> 
											<li>
												<label class="anim">
                          <% if devise_mapping.rememberable? -%>
                              <%= f.check_box :remember_me,class: "checkbox" %>
                          <span> Remember me ?</span>
                          <% end %>
													
													 
												</label> 
											</li>
											<%# <li> <a href="#">Forgot password?</a> </li> %>
										</ul>
										<div class="clear"> </div>
									</div>  
									<div class="w3ls-submit">
										<div class="submit-text">
                    <%= f.submit "Log in" %>											
										</div>	
									</div>	
								<% end %>
							</div> 
						</div>
						<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
							<div class="login-top sign-top">
								<div class="agileits-login">
									<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>
										<input type="text" name="Username" placeholder="Username" required="">
                    <%= f.text_field :email, autofocus: true, autocomplete: "email",class: "email",placeholder: "Email" %>										
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "off",class: "password",placeholder: "Password" %>
											
                      <%= f.password_field :password_confirmation, autocomplete: "off",class: "password",placeholder: "Password Confirmation" %>
                   
							 
										<div class="w3ls-submit">
											<div class="submit-text">
                          <%= f.submit "Registrar",class: "register" %>												
											</div>	
										</div>
									<% end %> 
								</div>  
							</div>
						</div>
					</div>	
				</div>
				<div class="clear"> </div>
			</div>  
		</div>
	
	</div>	
	<!-- //main -->







<h2>test</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
